body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0px;
    width: 100%;
    color: #FFF;
}

header#firstHeader{
    background-color: #000;
    padding: 18px 22px;

}

header#secondHeader{
    background-color: #202020;
    padding: 12px 23px;
}

main{
    background-image: url(background.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#contenedor{
    max-width: 450px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin:20px;
    color: #FFF;
    background-color: #4e4b4b;
    border-radius: 5%;
}

div#datos{
    display: flex;
    justify-content: right;
    background-color: #3d4740;
    margin: 0;
    width: 100%;
    border-radius: 5%;
    max-height: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div#datos p {
    margin: 16px;
}

div#botones{
    justify-content: space-evenly;
    display: flex;
}

div.boton{
    justify-content: center;

    background-color: #797878;
    max-width: 60px;
    width: 100%;
    max-height: 60px;
}